/* Base et font */
* {
    font-family: "Poppins", sans-serif;
}

/* Background et Côtés */
.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(231, 177, 10);
}

/* Titre et image de la famille */

#upperTitle {
    color: rgb(255,255,255);
    background-color: rgb(25, 167, 206);
    text-align: center;
}

#upperImage {
    width: 100%;
    height: 25em;
}

/* Bas de page et mention légales */
footer {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(20, 108, 148);
    color: rgb(255,255,255);
    text-align: center;
    font-weight : bold;
}