/* Base et font */
* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
}

/* Container et Centrage */

.container {
    padding : 0 17%;
    background-color: rgb(231, 177, 10);
}



/* Titre et image de la famille */

#upperTitle {
    color: rgb(255,255,255);
    background-color: rgb(25, 167, 206);
    text-align: center;
}

#upperImage {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 20em;
}

/* Bloc Central */

.centralBlock {
    display: flexbox;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

/* Menu Sélection */

.selectionButtons {
    width: 15%;
    height: 40%;
    background-color: rgb(25, 167, 206);
    color: rgb(255,255,255);
    font-weight : bold;
    text-decoration : underline;
}

#listItems {
    list-style: none;
}

/* Article Principale */


#articleName {
    color: rgb(231, 177, 10);
    font-weight : bold;
}

#articleText {
    font-size: 1em;
}

/* Article Matt */

.mattInfo {
    background-color: rgb(25, 167, 206);
    color: rgb(255,255,255);
}

#mattName {
    font-weight : bold;
}

#mattImage {
    width: 15%;
    height: 8em;
}


/* Bas de page et mention légales */
footer {
    background-color: rgb(58, 16, 120);
    color: rgb(255,255,255);
    text-align: center;
    font-weight : bold;
}