body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(231, 177, 10);
}

#MainTitle {
    height: 50%;
    margin-left: 20%;
    margin-right: 20%; 
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(25, 167, 206);
}

#LargeBanner {
    margin-left: 20%;
    margin-right: 20%;  
    width: 60%;
    height: auto;
    border-radius: 0.5%;
}

.UnderBox {
    margin-left: 20%;
    margin-right: 20%; 
    background-color: rgb(255,255,255);
}

.SelectionSection {
    text-align: left;
    margin-left: 3%;
    margin-right: 80%;
    text-align: justify;
    background-color: rgb(25, 167, 206);
    color: rgb(255,255,255);
    font-weight : bold;
    text-decoration : underline;
}

.MainSection {
}

#TextTitle {
    font-weight : bold;
    text-align: center;
    color: rgb(231, 177, 10);
}

#TextSpeech {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.AuthorSection {
    background-color: rgb(25, 167, 206);
}

#TextAuthorTitle {
    color: rgb(255,255,255);
    text-align: center;
}

#TextAuthorSpeech {
    color: rgb(255,255,255);
    margin-left: 20%;
    margin-right: 20%;
}

.FooterCopyright {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(20, 108, 148);
    color: rgb(255,255,255);
    text-align: center;
    font-weight : bold;
}