/* Base et font */
* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
    vertical-align: top;
}

/* Container et Centrage */

.container {
    padding : 0 17%;
    height: 100%;
    background-color: rgb(231, 177, 10);
}



/* Titre et image de la famille */

#upperTitle {
    color: rgb(255,255,255);
    background-color: rgb(25, 167, 206);
    text-align: center;
}

#upperImage {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

/* Bloc Central */

.centralBlock {
    display: flex;
    justify-content: row;
    background-color: rgb(255, 255, 255);
}

/* Menu Sélection */

.selectionButtons {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100%;
    background-color: rgb(25, 167, 206);
    color: rgb(255,255,255);
    font-size: 1.2em;
    vertical-align: top;
}

#listItems {
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    padding-left: 1%;
    padding-right: 1%;
    list-style: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

/* Partie Simpsons */
.simpsonsPart {
    display: flex;
    flex-direction: column;
}

/* Article Principale */

.articleSimpsons {
    margin-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
}

#articleName {
    color: rgb(231, 177, 10);
    font-weight : bold;
    font-size: 2.3em;
}

#articleText {
    padding-top: 1%;
    font-size: 1.1em;
    text-align: justify;
}

/* Jaquette des films */


.moviePart {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.moviePicture {
    width: 80%;
    border-style: solid;
    border-color: rgb(95, 95, 95);
}

/* Article Matt */

.mattInfo {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 1em;
    background-color: rgb(25, 167, 206);
    color: rgb(255,255,255);
}
#mattName {
    font-weight : bold;
    font-size: 1.2em;
    text-align: center;
}

#mattImage {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

#mattText {
    text-align: justify;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 0.85em;
    margin-left: 5%;
    margin-right: 5%;
}

/* Bas de page et mention légales */
footer {
    height: 1.8em;
    width: 100%;
    background-color: rgb(58, 16, 120);
    color: rgb(255,255,255);
    text-align: center;
    font-weight : bold;
}

@media only screen and (max-width: 800px) {
    .container {
      background-color: lightblue;
      padding : 0 0;
    }

    .centralBlock {
        display: flex;
        flex-direction: column;
    }

    /* Navigation Bars */

    .selectionButtons {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        vertical-align: top;
        padding: 15px 0;
    }

    /* Article */

    #articleName {
        margin-top: 4%;
    }

    #articleText {
        margin-bottom: 4%;
    }

    /* Article Matt */

    .mattInfo {
        margin-right: 0;
        margin-bottom: 0;
    }

    #mattImage {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #mattText {
        font-size: 1.1em;
    }

    /* Footer */

    footer {
        text-align: center;
    }
  }